//main: main.scss

$whiteText : white;
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$background-container: hsl(213, 19%, 18%);
$background-color: hsl(216, 12%, 8%);
$background-text:  hsla(210, 22%, 25%, 0.515);

$orange-primary:hsl(25, 97%, 53%);

$low-weight: 400;
$big-weight: 700;

$font-family: 'Overpass', sans-serif;

$paragraph-size: 0.8em;

$title-size: 1.5em;

$standard-margin-bottom: 0.5rem;

$higth-margin-botton: 1.3rem;
