
// ------CSS RESET----
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


// -------CSS RESET END------



@import "variables";
@import "mixins";

body, main{
    display: flex;
    align-content: center;
    background-color: $background-color;
    font-family: $font-family;

}
main{
  margin: auto;
}

.container{
    width: 20rem;
    height: 20rem;
    background-color: $background-container;
    border-radius: 0.9375rem;
    padding: 1.30rem;
    
}

.star-container{
    width: 2.5rem;
    height: 2.5rem;
    background-color:$background-text;
    border-radius: 50%;
    // padding: 12px;
   @include center;
}

.star{
    width: 0.9375rem;
    height: 0.9375rem;
}

.title-1{
    color: $whiteText;
    font-weight: 500;
    font-size: $title-size;
    margin-bottom: $standard-margin-bottom;

}

.paragraph{
    color: $light-grey;
    font-size: $paragraph-size;
    margin-bottom: $higth-margin-botton;
    
}

.value-container{
   @include space-between;
    color: $light-grey;
}

.value-button{
    border: 0rem white solid;
    color: $light-grey;

}

.value-button:hover{
    background-color: $light-grey;
    color: $whiteText;
    cursor: pointer;
}


.submit{
    background-color: $orange-primary;
    color: white;
    width: 100%;
    height: 2.8125rem;
    border-radius: 1.30rem;
    border: 0px white solid;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-size: 0.8em;
    
}
button.submit:hover{
  background-color: $whiteText;
  color: $orange-primary;
}

a:link:hover{
  color: $orange-primary;

}

a:visited:hover{
  color: $orange-primary;

}
a:link{
  text-decoration: none;
  color: $whiteText;  
}

a:visited{
  color: $whiteText;
}


.thank-you{
  margin: 0.625rem auto;
  width: 8.125rem;
}

.text-select-background{
  background-color: $background-text;
}


.box2{
    display: none;
    width: 20rem;
    height: 20rem;
    background-color: $background-container;
    margin: auto;
    border-radius: 0.9375rem;
    padding: 1.30rem;
}

.thank-you>img{
  margin-bottom: $standard-margin-bottom;
}

.text-select-background{
  color: $orange-primary;
  text-align: center;
  width: 12.5rem;
  margin: auto;
  padding: 0.3125rem;
  border-radius: 0.9375rem;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 1.5rem;

}


.thank-you-text{
  color: $whiteText;
  text-align: center;
}
.paragraph-2{
text-align: center;
}


.value-button:focus{
  background-color: $orange-primary;
  color: white;
}


input{
  display: none;
}

label[for="inp1"]:before{
 @include before-input($content: "1")
}

label[for="inp2"]:before{
  @include before-input($content: "2")
 }

 label[for="inp3"]:before{
  @include before-input($content: "3")
 }
 
 label[for="inp4"]:before{
   @include before-input($content: "4")
  }

  label[for="inp5"]:before{
    @include before-input($content: "5")
   }



:is(#inp1:checked, #inp2:checked, #inp3:checked, #inp4:checked, #inp5:checked) + label:before{
  background-color: $orange-primary;
  color: $whiteText;
}

label:hover:before{
  background-color: $light-grey;
  color: white;

}

.input-container{
  display: flex;
  justify-content: space-between;
}



